
<mat-list class="mx-3 mt-4 p-3" style="direction: rtl;">

    
<img src="/assets/images/logo.jpg" alt="" style="height: 120px;">
     
       <!--  <div matListItemTitle><span class="mat-headline-3 m-2 mat-text-primary">LOGO</span></div> -->
    


    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <mat-list-item  [routerLink]="[node.url]" routerLinkActive="active">
             <!--    <mat-icon matListItemIcon [color]="node.iconColor">{{node.icon}}</mat-icon> -->
                <div matListItemTitle> {{node.name}} </div>
            </mat-list-item>
        </mat-tree-node>
        
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row">
                    <mat-list-item class="sid-nav-item">
                        <mat-icon matListItemIcon [color]="node.iconColor">{{node.icon}}</mat-icon>
                        <div matListItemTitle> {{node.name}} </div>
                     </mat-list-item>
                </div>
                <div>
                    <button  mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_left'}}
                        </mat-icon>
                    </button> 
                  
                </div>


            </div>
        </mat-tree-node>
    </mat-tree>

 




</mat-list>