
<mat-list class="mx-3 mt-4 p-3" style="direction: rtl;">

    
<img src="/assets/images/logo.png" class="my-4" alt="logo" style="height: 80px;">
         
       <mat-list-item  [routerLink]="['/admin/dashboard']" routerLinkActive="active">
           <mat-icon matListItemIcon color="primary">dashboard</mat-icon>
           <div  class="mat-text-dark f-w-bold">لوحة التحكم</div>
       </mat-list-item>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="mat-bg-light"   [@simpleFade]="node.level?1:0">
            <mat-list-item  [routerLink]="[node.url]" routerLinkActive="active">
                <div matListItemTitle fxHide.sm fxHide.xs > {{node.name}} </div>
            </mat-list-item>
        </mat-tree-node>
        
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding >

            <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
                <div fxLayout="row">
                    <mat-list-item class="sid-nav-item">
                        <mat-icon matListItemIcon [color]="node.iconColor">{{node.icon}}</mat-icon>
                        <div class="mat-text-dark f-w-bold" fxHide.sm fxHide.xs> {{node.name}} </div>
                     </mat-list-item>
                </div>
                <div fxHide.sm fxHide.xs>
                    <button  mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_left'}}
                        </mat-icon>
                    </button> 
                  
                </div>


            </div>
        </mat-tree-node>
    </mat-tree>

</mat-list>