<h2 mat-dialog-title class="text-capitalize">{{title}}</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="invUomForm" fxLayout="column" fxLayoutGap="15" class="p-5">
 
  
    <mat-form-field>
        <mat-label>اسم الوحدة</mat-label>
        <input matInput formControlName="name" placeholder="اسم الوحدة"  >
        <mat-error>
            <app-validation-msg [control]="invUomForm.get('name')" fieldName="اسم الوحدة" ></app-validation-msg>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>نوع الوحدة</mat-label>
        <mat-select formControlName="is_master">
          <mat-option value="1">وحدة اب</mat-option>
          <mat-option value="0">وحدة تجزئة</mat-option>
        </mat-select>
        <mat-error>
          <app-validation-msg [control]="invUomForm.get('is_master')" fieldName="نوع الوحدة"></app-validation-msg>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>حالة التفعيل</mat-label>
        <mat-select formControlName="active">
          <mat-option value="1">نعم</mat-option>
          <mat-option value="0">لا</mat-option>
        </mat-select>
        <mat-error>
          <app-validation-msg [control]="invUomForm.get('active')" fieldName="حالة التفعيل"></app-validation-msg>
        </mat-error>
    </mat-form-field>
 
    
    <mat-dialog-actions fxLayoutAlign="center">
        <button mat-button mat-dialog-close color="danger">الغاء</button>
        <button [disabled]="!invUomForm.valid" mat-raised-button color="primary" type="submit" > حفظ</button>
    </mat-dialog-actions>
</form>