 <h2 mat-dialog-title class="text-capitalize">{{title}}</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="priceInvoiceForm"  class="p-5">

    <div fxLayout="row wrap" fxLayoutGap="10">

    <mat-form-field fxFlex="48">
        <mat-label>تاريخ الفاتورة</mat-label>
        <input matInput [matDatepicker]="orderDatePicker" formControlName="invoiceDate">
        <mat-datepicker-toggle matIconSuffix [for]="orderDatePicker">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #orderDatePicker></mat-datepicker>
        <mat-error>
            <app-validation-msg [control]="priceInvoiceForm.get('invoiceDate')"
                fieldName="التاريخ"></app-validation-msg>
        </mat-error>
    </mat-form-field>








    <mat-form-field fxFlex="48">
        <mat-label>ملاحظات</mat-label>
        <textarea matInput formControlName="notes" placeholder="ملاحظات"></textarea>

        <mat-error>
            <app-validation-msg [control]="priceInvoiceForm.get('notes')" fieldName="ملاحظات"></app-validation-msg>
        </mat-error>
    </mat-form-field>
    </div>



    <mat-dialog-actions fxLayoutAlign="center">
        <button mat-button mat-dialog-close color="danger">الغاء</button>
        <button mat-raised-button  [disabled]="!priceInvoiceForm.valid"  color="primary" type="submit"> حفظ</button>
    </mat-dialog-actions>
</form>
