<div class=" m-2">
    <h1 class="inv-title  my-3">تفاصيل فاتورة المشتريات</h1>


    <div class="my-3" fxLayout="row" fxLayoutAlign="space-between center">

      <span>التاريخ : {{supplierOrder.orderDate  }}</span>
      <span>المورد : {{supplierOrder.supplier.name}}</span>
      <span>المخزن : {{supplierOrder.store.name}}</span>

    </div>
    <button mat-raised-button type="button" color="warn" (click)="openAddInvItemDialog()"> اضافة اصناف الي
        الفاتورة</button>


        <div  id="print-section">
       
            <table mat-table [dataSource]="dataSource" class="mt-2 rounded-2 shadow-sm" style="direction: rtl;">
    
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> تسلسل </th>
                <td mat-cell *matCellDef="let orderItem"> {{orderItem.id}} </td>
              </ng-container>
    
              <ng-container matColumnDef="unit">
                <th mat-header-cell *matHeaderCellDef> الوحدة</th>
                <td mat-cell *matCellDef="let orderItem"> {{orderItem.uom.name}} </td>
              </ng-container>
    
              <ng-container matColumnDef="orderItem">
                <th mat-header-cell *matHeaderCellDef> الصنف</th>
                <td mat-cell *matCellDef="let orderItem"> {{orderItem.invItemCard.name}} </td>
              </ng-container>
    
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> السعر </th>
                <td mat-cell *matCellDef="let orderItem"> {{orderItem.unitPrice}} </td>
              </ng-container>
    
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> الكمية </th>
                <td mat-cell *matCellDef="let orderItem"> {{orderItem.deliveredQuantity}} </td>
              </ng-container>
    
              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> الإجمالي </th>
                <td mat-cell *matCellDef="let orderItem"> {{ orderItem.totalPrice}} </td>
              </ng-container>
    
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let orderItem">
    
    
                  <button mat-icon-button (click)="openEditInvItemDialog(orderItem)">
                    <mat-icon color="primary">mode_edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteInvItem(orderItem)">
                    <mat-icon color="danger">delete</mat-icon>
                  </button>
                </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    
    
            <table class=" my-5 second-table" style="direction: rtl;">
              <thead>
                <tr>
                  <th>الإجمالي قبل الخصم</th>
                  <th>قيمة الخصم</th>
                  <th>الإجمالي بعد الخصم</th>
                  <th>نوع الدفع</th>
                  <th>المدفوع</th>
                  <th>المتبقي</th>
                  <th>حالة رصيد العميل قبل الفاتورة</th>
                  <th>حالة رصيد العميل بعد الفاتورة</th> 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>{{supplierOrder.totalBeforeDiscount}}</th>
                  <th>{{discountValue}}</th>
                  <th>{{supplierOrder.totalCost}}</th>
                  <th>{{ supplierOrder.pillType===1? 'كاش':  'اّجل'}}</th>
                  <th>{{supplierOrder.whatPaid}}</th>
                  <th>{{supplierOrder.whatRemain}}</th>
                  <th>{{supplierOrder.supplierBalanceBefore}}</th>
                  <th>{{supplierOrder.supplierBalanceAfter}}</th>
    
                </tr>
              </tbody>
            </table> 
    
          </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="invoiceForm" class="invoice-form" fxLayout="column">
  
      <div fxLayout="row">
        <div class="w-100 mt-2 rounded-2">
  
        
  
        
          <div fxLayout="row-reverse" fxLayoutAlign="start center" fxLayoutGap="20" class="my-3">
            <mat-form-field>
              <mat-label>نوع الخصم</mat-label>
              <mat-select formControlName="discountType" (selectionChange)="onDiscountTypeChange($event)">
                <mat-option [value]="0">لا يوجد خصم</mat-option>
                <mat-option [value]="1">نسبة مئوية</mat-option>
                <mat-option [value]="2">خصم يدوي</mat-option>
              </mat-select>
              <mat-error>
                <app-validation-msg [control]="invoiceForm.get('discountType')" fieldName="نوع الخصم"></app-validation-msg>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field *ngIf="discountType===1">
              <mat-label>نسبة الخصم</mat-label>
             <input matInput formControlName="discountPercent" placeholder="نسبة الخصم" type="number" (keyup)="ondiscountValueChange()">
              <mat-error>
                <app-validation-msg [control]="invoiceForm.get('discountPercent')" fieldName="نسبة الخصم"></app-validation-msg>
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="discountType===2">
              <mat-label>قيمة الخصم</mat-label>
             <input matInput formControlName="discountValue" placeholder="قيمة الخصم" type="number" (keyup)="ondiscountValueChange()">
              <mat-error>
                <app-validation-msg [control]="invoiceForm.get('discountValue')" fieldName="قيمة الخصم"></app-validation-msg>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div fxLayout="row-reverse" fxLayoutAlign="start center" fxLayoutGap="20" class="my-3">
            
              <mat-form-field>
                <mat-label>نوع الدفع</mat-label>
                <mat-select formControlName="pillType" (selectionChange)="onPillTypeChange($event)">
                  <mat-option [value]="1">كاش</mat-option>
                  <mat-option [value]="2">اّجل</mat-option>
                </mat-select>
                <mat-error>
                  <app-validation-msg [control]="invoiceForm.get('pillType')" fieldName="نوع الدفع"></app-validation-msg>
                </mat-error>
              </mat-form-field>
  
              <mat-form-field >
                <mat-label>المدفوع</mat-label>
               <input matInput formControlName="whatPaid" placeholder="المدفوع" type="number" [readonly]="discountType===1">
                <mat-error>
                  <app-validation-msg [control]="invoiceForm.get('whatPaid')" fieldName="المدفوع"></app-validation-msg>
                </mat-error>
              </mat-form-field>
  
              <mat-form-field *ngIf="pillType===2">
                <mat-label>المتبقي</mat-label>
               <input matInput formControlName="whatRemain" placeholder="المتبقي" type="number" >
                <mat-error>
                  <app-validation-msg [control]="invoiceForm.get('whatRemain')" fieldName="المتبقي"></app-validation-msg>
                </mat-error>
              </mat-form-field>
  
          </div>
  
          <div fxLayout="row-reverse" fxLayoutAlign="start center" >
            <mat-form-field fxFlex="100">
              <mat-label>ملاحظات</mat-label>
              <textarea matInput formControlName="notes" placeholder="ملاحظات"></textarea> 
              <mat-error>
                <app-validation-msg [control]="invoiceForm.get('notes')" fieldName="ملاحظات"></app-validation-msg>
              </mat-error>
            </mat-form-field>
          
          </div> 
  
          <div fxLayout="row-reverse" fxLayoutAlign="space-between center" >
            <button mat-raised-button color="primary" type="submit">حفظ و إعتماد الفاتورة</button>
          <!--   <button mat-raised-button color="primary" type="button">طباعة</button> -->
            <button  mat-raised-button color="primary" class="mx-2" [useExistingCss]="true"
            [printStyle]="{div : {'direction': 'rtl'}}"  [printTitle]="'asdasd'" printSectionId="print-section" ngxPrint>
                {{'download' | translate}}
                <mat-icon class="mx-2">cloud_download</mat-icon></button>
          </div>
          
        </div>
      </div>
    </form>
  
  
  </div>