<div class="d-flex" style="height: 100vh; display: flex;">
    <loading-circular></loading-circular>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12"  > 
        <admin-toolbar-list></admin-toolbar-list>
        <div class="admin-content m-3">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 " fxHide.sm fxHide.xs style="color: #ffffff;" class="shadow-sm" >
        <admin-side-nav-list></admin-side-nav-list>
    </div>
   
    
</div> 