<div fxLayout="row">

  <div class="w-100 mt-2 rounded-2">
      <div fxLayout="row" class="my-3 p-1" fxLayoutAlign="space-between center">
          <button mat-raised-button color="primary" (click)="openAddNew()">اضافة جديد</button>
          <h1>فواتير مرتجع المبيعات العام للعملاء
          </h1>
      </div>

      <div fxLayout="row-reverse wrap" fxLayoutGap="15">
             <mat-form-field fxFlex="19" fxFlex.sm="100" fxFlex.xs="100">
              <mat-label>الكود</mat-label>
              <input matInput formControlName="barCode" placeholder="الكود">
          </mat-form-field>
          <mat-form-field fxFlex="19" fxFlex.sm="100" fxFlex.xs="100">
              <mat-label>بحث بالعملاء</mat-label>

              <input type="text" placeholder="المورد" matInput [formControl]="customerFormControl" [matAutocomplete]="customerAutoComplete">

              <mat-autocomplete #customerAutoComplete="matAutocomplete" [displayWith]="customerDisplayFn">
                  <ng-container *ngFor="let option of filteredcustomer | async; trackBy: customerDisplayFn">
                      <mat-option [value]="option">{{ option.name }}</mat-option>
                  </ng-container>
              </mat-autocomplete>


          </mat-form-field>


          <mat-form-field fxFlex="19" fxFlex.sm="100" fxFlex.xs="100">
              <mat-label>بحث من تاريخ</mat-label>
              <input matInput formControlName="barCode" placeholder="بحث من تاريخ">
          </mat-form-field>
          <mat-form-field fxFlex="19" fxFlex.sm="100" fxFlex.xs="100">
              <mat-label>بحث الي تاريخ</mat-label>
              <input matInput formControlName="barCode" placeholder="بحث الي تاريخ">
          </mat-form-field>
      </div>

      <div class="w-100 mt-2 rounded-2 shadow-sm overflow-x-scroll">
          <table mat-table [dataSource]="dataSource" style="direction: rtl;">
              <ng-container matColumnDef="autoSerial">
                  <th mat-header-cell *matHeaderCellDef>كود</th>
                  <td mat-cell *matCellDef="let salesOrder"> {{salesOrder.id}} </td>
              </ng-container>

              <ng-container matColumnDef="supplierName">
                  <th mat-header-cell *matHeaderCellDef>العميل</th>
                  <td mat-cell *matCellDef="let salesOrder"> {{salesOrder.customer.name}} </td>
              </ng-container>

              <ng-container matColumnDef="orderDate">
                  <th mat-header-cell *matHeaderCellDef> تاريخ الفاتورة</th>
                  <td mat-cell *matCellDef="let salesOrder"> {{salesOrder.invoiceDate}} </td>
              </ng-container>

              <ng-container matColumnDef="pillType">
                  <th mat-header-cell *matHeaderCellDef> نوع الفاتورة</th>
                  <td mat-cell *matCellDef="let salesOrder">
                      <mat-chip-row *ngIf="salesOrder.pillType===1" color="success">
                          <mat-icon class="icons-sm">monetization_on</mat-icon>
                          كاش
                      </mat-chip-row>
                      <mat-chip-row *ngIf="salesOrder.pillType===2" color="danger">
                          اّجل
                      </mat-chip-row>

                  </td>
              </ng-container>




              <ng-container matColumnDef="totalCost">
                  <th mat-header-cell *matHeaderCellDef> اجمالي الفاتورة</th>
                  <td mat-cell *matCellDef="let salesOrder"> {{salesOrder.totalCost * 1}} </td>
              </ng-container>


              <ng-container matColumnDef="approveStatus">
                  <th mat-header-cell *matHeaderCellDef>حالة الفاتورة</th>
                  <td mat-cell *matCellDef="let salesOrder">
                      <mat-chip-row *ngIf="salesOrder.isApproved" color="danger">
                          معتمدة
                      </mat-chip-row>
                      <mat-chip-row *ngIf="!salesOrder.isApproved" color="light-success">
                          مفتوحة
                      </mat-chip-row>
                  </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let salesOrder">
                      <button mat-icon-button [routerLink]="['/admin/salseReturnDetails', salesOrder.id]">
                          <mat-icon color="danger">remove_red_eye</mat-icon>
                      </button>

                      <button mat-icon-button>
                          <mat-icon color="primary">local_print_shop</mat-icon>
                      </button>
                      <button mat-icon-button>
                          <mat-icon color="warn">local_print_shop</mat-icon>
                      </button>


                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons
              aria-label="Select page of periodic elements">
          </mat-paginator>
      </div>
  </div>
</div>
