<h2 mat-dialog-title class="text-capitalize">{{title}}</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="permissionForm"  class="p-5">

    <div fxLayout="row wrap" fxLayoutGap="10">

    <mat-form-field fxFlex="48">
        <mat-label>التاريخ</mat-label>
        <input matInput [matDatepicker]="permissionDateDatePicker" formControlName="permissionDate">
        <mat-datepicker-toggle matIconSuffix [for]="permissionDateDatePicker">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #permissionDateDatePicker></mat-datepicker>
        <mat-error>
            <app-validation-msg [control]="permissionForm.get('permissionDate')"
                fieldName="التاريخ"></app-validation-msg>
        </mat-error>
    </mat-form-field>



    <mat-form-field fxFlex="48"  >
        <mat-label>العميل</mat-label>

        <input type="text"   placeholder="العميل" matInput
            [formControl]="customerFormControl" [matAutocomplete]="customerAutoComplete">

        <mat-autocomplete #customerAutoComplete="matAutocomplete" [displayWith]="customerDisplayFn"  (optionSelected)="selectedSupllier($event)">
            <ng-container *ngFor="let option of filteredSuppliers | async; trackBy: customerDisplayFn">
                <mat-option [value]="option">{{ option.name }}</mat-option>
            </ng-container>
        </mat-autocomplete>

        <app-validation-msg [control]="permissionForm.get('customer')" fieldName="العميل"></app-validation-msg>

    </mat-form-field>


    <mat-form-field fxFlex="48">
      <mat-label>اسم المستلم</mat-label>
      <input matInput formControlName="receiverName" placeholder="اسم المستلم">

      <mat-error>
          <app-validation-msg [control]="permissionForm.get('receiverName')" fieldName="اسم المستلم"></app-validation-msg>
      </mat-error>
  </mat-form-field>


    <mat-form-field fxFlex="48">
        <mat-label>ملاحظات</mat-label>
        <textarea matInput formControlName="notes" placeholder="ملاحظات"></textarea>

        <mat-error>
            <app-validation-msg [control]="permissionForm.get('notes')" fieldName="ملاحظات"></app-validation-msg>
        </mat-error>
    </mat-form-field>
    </div>



    <mat-dialog-actions fxLayoutAlign="center">
        <button mat-button mat-dialog-close color="danger">الغاء</button>
        <button mat-raised-button  [disabled]="!permissionForm.valid"  color="primary" type="submit"> حفظ</button>
    </mat-dialog-actions>
</form>
