<div fxLayout="row">

   
    <div class="w-100 mt-2 rounded-2">
        <div fxLayout="row" class="my-3 p-1" fxLayoutAlign="space-between center">
            <button mat-raised-button color="primary" (click)="openAddInvItemDialog()">اضافة جديد</button>
            <h1>حسابات العملاء
            </h1>
        </div> 
        <div class="w-100 mt-2 rounded-2 shadow-sm">

            <table mat-table [dataSource]="dataSource" style="direction: rtl;">

             

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> الاسم</th>
                    <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
                </ng-container>

                <ng-container matColumnDef="accountNumber">
                    <th mat-header-cell *matHeaderCellDef> رقم الحساب </th>
                    <td mat-cell *matCellDef="let customer"> {{customer.account.id}} </td>
                </ng-container>
 

                
                <ng-container matColumnDef="currentBalance">
                    <th mat-header-cell *matHeaderCellDef> الرصيد</th>
                    <td mat-cell *matCellDef="let customer">
                        
                        <span *ngIf="customer.currentBalance > 0"> مدين ب ({{ customer.currentBalance*1 }}) جنيه
                        </span>

                        <span *ngIf="customer.currentBalance < 0"> دائن ب ({{ customer.currentBalance* -1 }}) جنيه
                        </span>

                        <span *ngIf="customer.currentBalance < 1 && customer.currentBalance >-1">
                            متزن
                        </span>
                   </td>
                </ng-container>
 
               
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>العنوان</th>
                    <td mat-cell *matCellDef="let customer"> {{customer.address}} </td>
                </ng-container>

                <ng-container matColumnDef="phones">
                    <th mat-header-cell *matHeaderCellDef>	الهاتف</th>
                    <td mat-cell *matCellDef="let customer"> {{customer.phones}} </td>
                </ng-container>

                <ng-container matColumnDef="notes">
                    <th mat-header-cell *matHeaderCellDef>	ملاحظات</th>
                    <td mat-cell *matCellDef="let customer"> {{customer.notes}} </td>
                </ng-container>

                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef> حالة التفعيل</th>
                    <td mat-cell *matCellDef="let customer">
                        <mat-chip-row *ngIf="customer.active" color="success">
                            مفعل
                        </mat-chip-row>
                        <mat-chip-row *ngIf="!customer.active" color="danger">
                            غير مفعل
                        </mat-chip-row>
                    </td>
                </ng-container>
 
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let customer">


                        <button mat-icon-button (click)="openEditInvItemDialog(customer)">
                            <mat-icon color="primary">mode_edit</mat-icon>
                        </button>
                       
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 30, 100]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
    </div>
</div>