<div fxLayout="row">

   
    <div class="w-100 mt-2 rounded-2">

        <div fxLayout="row" class="my-3 p-1" fxLayoutAlign="space-between center">
            <button mat-raised-button color="primary" (click)="openAddInvItemCategoryDialog()">اضافة جديد</button>
            <h1>فئات الأصناف</h1>
        </div> 
        
        <div class="w-100 mt-2 rounded-2 shadow-sm">

            <table mat-table [dataSource]="dataSource" style="direction: rtl;">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> تسلسل </th>
                    <td mat-cell *matCellDef="let invItemCategory"> {{invItemCategory.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> الوحدة</th>
                    <td mat-cell *matCellDef="let invItemCategory"> {{invItemCategory.name}} </td>
                </ng-container>

                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef> حالة التفعيل</th>
                    <td mat-cell *matCellDef="let invItemCategory">
                        <mat-chip-row *ngIf="invItemCategory.active" color="success">
                            مفعلة
                        </mat-chip-row>
                        <mat-chip-row *ngIf="!invItemCategory.active" color="danger">
                            غير مفعلة
                        </mat-chip-row>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let invItemCategory">


                        <button mat-icon-button (click)="openEditInvItemCategoryDialog(invItemCategory)">
                            <mat-icon color="primary">mode_edit</mat-icon>
                        </button>
                       
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>