<h2 mat-dialog-title class="text-capitalize">{{title}}</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="newInvItemForm" class="p-5">

    <div fxLayout="row wrap" fxLayoutGap="10">


        <mat-form-field fxFlex="100">
            <mat-label>الصنف</mat-label>

            <input type="text" placeholder="الصنف" matInput [formControl]="invItemFormControl"
                [matAutocomplete]="supplierAutoComplete">

            <mat-autocomplete #supplierAutoComplete="matAutocomplete" [displayWith]="invItemDisplayFn"
                (optionSelected)="selectedInvItem($event)">
                <ng-container *ngFor="let option of filteredInvItems | async; trackBy: invItemDisplayFn">
                    <mat-option [value]="option">{{ option.name }}</mat-option>
                </ng-container>
            </mat-autocomplete>

            <app-validation-msg [control]="invItemFormControl" fieldName="الصنف"></app-validation-msg>

        </mat-form-field>

 
        <mat-form-field fxFlex="100">
            <mat-label>الوحدة</mat-label>
            <mat-select formControlName="uom_id_Add">

                <mat-option *ngIf="itemUoms.does_has_retailunit===1"  [value]="itemUoms.uom_id"> {{ itemUoms.parent_uom_name  }} (وحده اب)</mat-option>
                <mat-option *ngIf="itemUoms.does_has_retailunit===1"  [value]="itemUoms.retail_uom_id">{{ itemUoms.retial_uom_name  }} (وحدة تجزئة)</mat-option>

                <mat-option *ngIf="itemUoms.does_has_retailunit!==1" [value]="itemUoms.uom_id">{{ itemUoms.parent_uom_name  }} (وحده اب)</mat-option>
            </mat-select>
            <mat-error>
                <app-validation-msg [control]="newInvItemForm.get('uom_id_Add')"
                    fieldName="الوحدة"></app-validation-msg>
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>الكمية المستلمة</mat-label>
            <input matInput formControlName="quantity_add" placeholder="الكمية المستلمة" type="number">

            <mat-error>
                <app-validation-msg [control]="newInvItemForm.get('quantity_add')" fieldName="الكمية المستلمة"></app-validation-msg>
            </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>سعر الوحدة</mat-label>
            <input matInput formControlName="price_add" placeholder="سعر الوحدة" type="number">
            <mat-error>
                <app-validation-msg [control]="newInvItemForm.get('price_add')" fieldName="سعر الوحدة"></app-validation-msg>
            </mat-error>
        </mat-form-field>


    </div>



    <mat-dialog-actions fxLayoutAlign="center">
        <button mat-button mat-dialog-close color="danger">الغاء</button>
        <button mat-raised-button color="primary" type="submit"> حفظ</button>
    </mat-dialog-actions>
</form>